* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}
.body-part-card{
transition: 300ms;
}
.body-part-card:hover{
  flex-grow: 1.25;
}

a{
  text-decoration: none;
  color: black;
}

